<h1>Messages#show</h1>
<p>Find me in app/views/messages/show.html.erb</p>

<ul>
  <li>ID: <%= @message.id %></li>
  <li>Name: <%= @message.name %></li>
  <li>Email: <%= @message.email %></li>
  <li>Phone: <%= @message.phone %></li>
  <li>Comapny: <%= @message.company %></li>
  <li>Created at: <%= @message.created_at %></li>
  <li>Last Updated: <%= @message.updated_at %></li>
  <li>Message: <%= @message.body %></li>
</ul>
    
    
    
    
    
    
    
    