<h1>Messages#show</h1>
<p>Find me in app/views/messages/show.html.erb</p>

<table width="100%">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Company</th>
    <th>Created at</th>
    <th>Last updated</th>
    <th>Message</th>
  </tr>
  
  <tr>
    <td><%= @message.id %></td>
    <td><%= @message.name %></td>
    <td><%= @message.email %></td>
    <td><%= @message.phone %></td>
    <td><%= @message.company %></td>
    <td><%= @message.created_at %></td>
    <td><%= @message.updated_at %></td>
    <td><%= @message.body %></td>
  </tr>
</table>
    
    
    
    
    
    
    